#at-top {
  top: 0;
  position: sticky;
  z-index: 1;
}

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headline {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f8c9b;
  font-family: 'Google Sans' !important;
  color: white;
  font-size: 14pt;
  letter-spacing: +0.1;
}

.headline-section {
  display: flex;
  align-items: center;
}

.headline-section>* {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-holder {
  padding-left: 12pt;
}

#status {
  font-family: 'Google Sans' !important;
}

#status.info {
  font-size: 14pt;
  letter-spacing: 0.25;
  line-height: 20pt;
  color: white;
}

#status.error {
  font-size: 12pt;
  color: yellow;
}

#link {
  margin-right: 8pt;
}

#clear-errors{
  color: yellow;
}

mwc-icon.icon-button {
  height: 24px;
  width: 24px;
  min-width: 24px;
  --mdc-icon-size: 24px;
  cursor: pointer;
}

mwc-icon.icon-button:hover {
  opacity: .7;
}

.status-emoji {
  width: 20px;
  height: 20px;
  padding-right: 4px;
}

