.field-name {
  font-weight: bold;
  color: var(--lit-bold-label-color);
}

.row-title {
  padding: 4px 8px;
}

.classification-row-holder {
  padding-bottom: 10px;
}

.module-footer {
  /* Avoid spurious scrollbar from mwc-switch */
  overflow-x: clip;
}
