/**
 * Padding and margins attempt to match the offsets of the left-
 * and right-most visual elements in the main app toolbar.
 */
.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 4pt;
  padding-right: 4pt;
}

.toolbar button {
  margin-top: 0;
  margin-bottom: 0;
}

.main-toolbar {
  background-color: #dcecef; /* light gray-blue */
}

.togglable-toolbar-holder {
  background-color: #eff6f8; /* light gray-blue */
  width: fit-content; /* set to 100% to span page */
  border: 1px solid;
  border-radius: 2pt;
  border-color: rgb(218, 220, 224);
  position: absolute;
}

#slice-toolbar-container {
  right: 0; /* remove to span page */
}

#status-group-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4pt;
}

#button-holder-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
  margin: 4pt;
}

#primary-selection-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4pt;
}

/* For in-line icons in a <span> */
[data-icon] {
  margin: 0;
}

[data-icon]:before {
  font-family: 'Material Icons';
  content: attr(data-icon);
  vertical-align: middle;
}

#favorite-button {
  margin-left: 5pt;
}

#legend-container {
  top: 100%;
  margin-left: -8pt; /* To account for button padding */
  cursor: default;
}

.dropdown-container {
  margin-top: 5px;
}

.dropdown-label {
  margin-left: 3px;
  margin-right: 2px;
}

.legend-line {
  display: flex;
  align-items: center;
}
.legend-box{
  width: 10pt;
  height: 10pt;
  margin: 5px;
}
.legend-pixel {
  height: 1px;
  width: 10px;
  border-left: 1px solid black;
}
.numeric-legend {
  display: flex;
  flex-direction: column;
}
.numeric-legend-holder {
  display: flex;
  margin-top: 25px;
  margin-left: 50px;
}
.tick {
  width: 8px;
  border-top: 1px solid black;
  height: 1px;
  margin-left: -19px;
}
.tick-legend {
  position: relative;
  height: 22px;
  width: fit-content;
}
.tick-label {
  font-size: 8pt;
  margin-left: -50px;
  margin-top: -8px;
}
.color-dropdown {
  min-width: 60px;
  margin-left: 3px;
}
.top-holder {
  display: flex;
  flex-direction: column;
}
.line-holder {
  margin-top: 20px;
}
