.staged-text {
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#buttons {
  border-top: 1px solid rgb(218, 220, 224);
  display: flex;
}

#buttons button {
  margin: 4px;
}

.field-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.field-name {
  font-weight: bold;
}

.field-name a {
  /* don't apply standard link style, it's distracting */
  text-decoration: unset;
  color: unset;
}

.field-type {
  color: gray;
  font-size: 8pt;
}

.field-header mwc-icon {
  font-size: 10pt;
  line-height: 0;
  vertical-align: middle;
  padding-right: 10px; /* for a larger click target */
}

.input-box {
  width: 95%;
  /* Fill available up to outer margin, if supported. */
  width: -moz-available;
  width: -webkit-fill-available;
}

.input-short {
  width: 95%;
  /* Fill available up to outer margin, if supported. */
  width: -moz-available;
  width: -webkit-fill-available;
}

.entry {
  margin: 10px 5px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.span-label {
  font-family: Monospace;
}

.edge-label {
  font-family: Monospace;
}
