.staged-text {
  margin-bottom: 10px;
}

.module-footer {
  justify-content: flex-end;
}

.module-footer button {
  margin: 4px;
}

.field-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: .5em;
  justify-content: space-between;
}

.field-name a {
  /* don't apply standard link style, it's distracting */
  text-decoration: unset;
  color: unset;
}

.field-type {
  color: var(--lit-light-label-color);
  font-size: 8pt;
}

.field-header mwc-icon {
  vertical-align: middle;
  padding-right: 10px; /* for a larger click target */
}

.input-box {
  width: 95%;
  /* Fill available up to outer margin, if supported. */
  width: -moz-available;
  width: -webkit-fill-available;
  border-radius: 3px;
}

.token-box {
  height: 26px;
  padding-right: 16px;
  box-sizing: border-box;
  border: 2px solid var(--lit-neutral-400);
  border-radius: 4px;
  resize: none;
  min-width: 48px;
  max-width: 250px;
  padding-left: 4px;
  max-width: 250px;
  overflow: auto;
}

.token-div {
  height: 26px;
  min-width: 16px;
  max-width: 226px;
  padding-right: 4px;
  padding-top: 2px;
  padding-left: 4px;
  box-sizing: border-box;
  border: 2px solid var(--lit-neutral-400);
  border-radius: 4px;
  overflow: auto;
}

.token-div:hover {
  cursor: text;
}

.tokens-holder {
  display: flex;
  flex-wrap: wrap;
  margin-right: 6px;
}

.icon-button.token-button {
  width: 18px;
  height: 18px;
  padding-top: 4px;
  padding-left: 2px;
  border: 2px solid var(--lit-neutral-400);
  border-radius: 4px;
  overflow: hidden;
}

.token-holder {
  margin-right: 2px;
  position: relative;
  height: 28px;
}

.delete-button {
  position: absolute;
  right: 2px;
  top: 4px;
}

.token-outer {
  display: flex;
  margin-bottom: 2px;
}

.insert-token-div {
  width: 6px;
  background: white;
  margin-right: 2px;
  margin-bottom: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.insert-token-div:hover {
  background: var(--lit-neutral-400);
}

.input-short {
  width: 95%;
  /* Fill available up to outer margin, if supported. */
  width: -moz-available;
  width: -webkit-fill-available;
}

select.dropdown {
  margin-right: 4px;
  min-width: 50px;
}

.entry {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}

.entry-edited {
  background: var(--lit-bric-50);
}

/* right-align content, particularly dropdowns */
.entry-content {
  display: flex;
  justify-content: flex-end;
}

.entry-content-long {
  flex-grow: 1;
  flex-basis: 100%;
}

.entry-content.left-align {
  justify-content: flex-start;
}

input {
  font-family: 'Roboto', sans;
  color: var(--lit-gray-800);
}

textarea {
  resize: vertical;
  height: 100px;
  font-family: 'Roboto', sans;
  line-height: 18px;
  color: var(--lit-gray-800);
  background-color: unset;
}

.monospace-label {
  font-family: Monospace;
}

.annotation-cluster,
.multi-segment-annotation {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}

.annotation-cluster:last-child {
  margin-bottom: 0;
}

.annotation-cluster ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 16px;
}

.image-holder {
  position: relative;
}

.image-min {
  max-width: 200px;
  max-height: 200px;
}

.image-toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  cursor: pointer;
  background: rgb(211,211,211, 0.5);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  --mdc-icon-size: 20px;
  color: rgb(95, 99, 104);
}

.image-toggle:hover {
  opacity: .8;
  background: rgb(211,211,211, 0.8);
}

mwc-icon.google-icon {
  height: 12px;
  width: 12px;
  min-width: 12px;
  --mdc-icon-font: "Google Material Icons";
  --mdc-icon-size: 12px;
  margin-bottom: 1px;
  margin-left: 4px;
}

.hidden {
  display: none;
}

.image-button {
  margin-left: 0;
}

