.module-toolbar {
  justify-content: space-between;
}

#toolbar-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  min-height: 32px;
  max-width: 60%;
  margin-left: 0;
  margin-right: 0;
  overflow-y: clip;
}

#search-input{
  width: calc(100% - 24px);
  margin-left: 4px;
  margin-right: 4px
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

popup-container.column-dropdown-container {
  --popup-top: 4px;
}

.column-dropdown-container > .hairline-button {
  margin-left: 0;
  margin-right: 0;
}

lit-checkbox.column-select {
  --lit-checkbox-label-white-space: nowrap;
}
