#scatter-gl-container {
  height: 100%;
  user-select: none;
}

#scatter-gl-container>canvas {
  outline: none;
}

.hidden-container {
  display: none;
}

.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.module-footer {
  justify-content: space-between;
}

.selected-nearest-button:disabled {
  pointer-events: auto;
}

#select-button-container {
  bottom: 4px;
  right: 4px;
}
