.generator-module-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#generators {
  width: 400px;
  margin-right: 15px;
}

#generators .label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

#generators.visible {
  display: block;
}

#generated-holder {
  height: 100%;
  flex: 2;
}

.generator-control {
  display: flex;
  flex-direction: row;
}

.entries {
  max-height: calc(100% - 20px); /** Offset the height of the toolbar**/
  overflow-y: scroll;
}

.input-label {
  margin-right: 4px;
  padding: 10px;
}

.input-box {
  width: 95%;
}

.row {
  display: flex;
  align-items: center;
}

.row:hover {
    background: #f8f9fa;
}

.entry {
  margin: 5px 10px;
}

.entry.text{
  flex: 1;
}

.entry > div {
  width: 100%;
}

.add-button {
  min-width: 65px;
}

.counterfactuals-count {
  padding-bottom: 5px;
}

#header{
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgb(245, 252, 252);
  border-bottom: 1px solid rgb(218, 220, 224);
}

