.generator-module-container {
  border: 1px solid #dadce0;
}

.generator-module-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.generator-module-footer {
  border-top: 1px solid #dadce0;
  min-height: 32px;
}

.generators-panel {
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: auto;
  width: 400px;
}

.results-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  margin-left: 4px;
}

.interstitial {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  overflow: hidden;
}

.interstitial > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 300px;
}

.interstitial > img {
  flex-shrink: 1;
  max-height: 130px;
}

.interstitial p {
  color: #5f6368;
}

.interstitial strong {
  display: block;
  font-size: 1.5em;
}

.generators-panel .label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.generators-panel.visible {
  display: block;
}

.generator-control {
  display: flex;
  flex-direction: row;
}

.entries {
  max-height: calc(100% - 20px); /** Offset the height of the toolbar**/
  overflow-y: scroll;
}

.input-label {
  margin-right: 4px;
  padding: 10px;
}

.input-box {
  width: 95%;
}

.row {
  display: flex;
  align-items: center;
}

.row:hover {
    background: #f8f9fa;
}

.counterfactuals-count {
  padding-bottom: 5px;
}

.overall-controls{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

/* TODO(lit-dev): move to shared styles? */
mwc-icon.icon-button {
  height: 20px;
  width: 20px;
  min-width: 20px;
  --mdc-icon-size: 20px;
  cursor: pointer;
  user-select: none;
}

mwc-icon.icon-button:hover {
  opacity: .7;
}

mwc-icon.icon-button:active {
  opacity: .4;
}
