#main-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.module-toolbar {
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.mode-info {
  color: gray;
}

.input-group {
  padding: 4px;
}

.input-group-title {
  margin-bottom: 3px;
}

.input-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.token:hover {
  cursor: pointer;
}

.token.masked {
  text-decoration: line-through;
}

.sidebar {
  min-width: 15%;
  padding: 4px;
  overflow-y: auto; /* Scroll this before the rest of the module */
}

.sidebar-shaded {
  background: #f8f9fa;
  border-left: 1px solid #bdc1c6;
  border-radius: 2px;
}

#output-table {
  border-spacing: 0px;
}

.output-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.output-token {
  padding: 1px;
  border-width: 2px;
  margin: 2px;
  font-family: 'Roboto Mono', monospace;
}

.output-percent {
  margin: 2px;
}

.flex-holder {
  display: flex;
}

.add-icon-button {
  margin-top: 6px;
  margin-right: 4px;
}
