#container {
  display: flex;
  flex-direction: column;
}

.module-toolbar {
  height: 24px;
}

#main-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.input-group {
  padding: 4px;
}

.group-title {
  font-weight: bold;
  margin-bottom: 3px;
}

.input-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.token {
  padding: 2px;
  margin: 2px 0px;
}

.token:hover {
  cursor: pointer;
}

.token.masked {
  text-decoration: line-through;
}

.sidebar {
  min-width: 15%;
  padding: 4px;
}

.sidebar-shaded {
  background: #f8f9fa;
  border-left: 1px solid #bdc1c6;
  border-radius: 2px;
}

#output-table {
  border-spacing: 0px;
}

.output-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.output-token {
  width: fit-content;
  padding: 1px;
  border-width: 2px;
  margin: 2px;
  font-family: 'Roboto Mono', monospace;
}

.output-percent {
  width: fit-content;
  padding: 2px;
  margin: 2px;
}

