.flex-column {
  display: flex;
  flex-direction: column;
}

.chip-container {
  padding: 8px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.gray-text {
  color: var(--lit-neutral-400);
}

.target-info-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  line-height: 22px;
}

lit-switch .icon-button {
  vertical-align: middle;
}

select:invalid {
  color: var(--lit-neutral-400);
}

/**
 * Interstitial for target selection
 */
.interstitial-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interstitial-header {
  font-size: 1.5em;
  font-family: 'Google Sans', sans;
  padding: 4px 2px;  /* 2px left shift vs. smaller fonts below */
}

.interstitial-subtitle {
  font-family: 'Google Sans', sans;
  color: var(--lit-neutral-500);
  padding: 4px;
  margin-bottom: 8px;
}

.interstitial-contents {
  width: 80%;
  /* color: #5f6368; */
  color: var(--lit-neutral-700);
}

.interstitial-target-option {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  margin-left: 4px;
  cursor: pointer;
}

.interstitial-target-type {
  /* width: 80px; */
  /* font-weight: bold; */
  color: var(--lit-neutral-500);
  padding: 4px;
}

.interstitial-target-option .interstitial-target-text {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 4px;
  border: 1px solid var(--lit-neutral-300);
  border-radius: 4px;
  overflow: hidden;
  min-height: 28px;  /* one line of text */
  max-height: 34px;  /* two lines of text */
}

.interstitial-target-option:hover .interstitial-target-text {
  border: 1px solid var(--lit-neutral-400);
  background-color: var(--lit-mintonal-p-1);
}

/**
 * Module controls
 */
.module-toolbar {
  border-bottom: 1px solid #dadce0;
  box-sizing: border-box;
  justify-content: space-between;
}

.module-footer {
  justify-content: space-between;
}

.controls-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 4px;
  gap: 4px;
}

.controls-group[disabled] {
  color: rgb(60, 64, 67);
  opacity: 0.38;
  pointer-events: none;
}

/* Allow contents to consume available space, but not to cause line wrapping. */
.controls-group-variable {
  flex: 1;
  overflow-x: clip;
  margin-right: 8px;
}

.target-dropdown-holder {
  width: calc(100% - 22px);
  margin-right: 4px;
}

.target-dropdown-holder .dropdown {
  width: 100%;
  text-overflow: ellipsis;
}

.vertical-separator {
  background: #dadce0;
  width: 2px;
  height: 1.2rem;
  padding: 0;
  margin: 0 8px;
}

/* Allow wrap. TODO move this to shared_styles as an option? */
.module-footer-wrappable {
  flex-wrap: wrap;
  /* line-height: 30px; */  /* causes alignment issues */
  height: unset;
  min-height: 36px;
}

.module-footer > * { min-width: 0; }

.controls-group > * { min-width: 0; }

color-legend {
  /* extra space to keep other controls from jumping when legend changes */
  /* width: 400px; */
  margin-right: 16px;
}


/* Pending request indicator */
.loading-indicator-container {
  position: relative;
  width: 100%;
}


@keyframes running-progress {
  0% { margin-left: 0; width: 0; }
  50% { margin-left: 35%; width: 65%; }
  100% { margin-left: 100%; width: 0; }
}

.loading-indicator {
  position: absolute;
  top: -2px;
  background-color: var(--lit-neutral-500);
  width: 100%;
  height: 2px;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}