.color-legend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
}

.group-label {
  text-align: start;
  vertical-align: baseline;
  width: 295px;
}

.group-container {
  padding: 4px;
  position: relative; /* to allow overlay div */
  vertical-align: top;
}

.module-toolbar > * {
  margin: 0px 4px;
}

.module-footer > * { min-width: 0; }

.module-footer {
  justify-content: flex-start;
}

.tokens-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tokens-group {
  position: relative;
}

.salient-token {
  /* color and background set individually vis styleMap */
  font-family: 'Roboto';
  border-radius: 2px;
  border: 1px solid transparent; /* for spacing */
  padding: 2px 4px; /* wider horizontally */
  margin: 3px;
  width: fit-content;
}

.salience-tooltip {
  position: absolute;
  padding: 5px;
  margin: auto;
  text-align: center;
  transform: translate(-50%, 5px);
  background-color: #f2f9ff;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  z-index: 10000;
  pointer-events: none;
  visibility: hidden;
}

.method-row-contents {
  display: flex;
  flex-direction: row;
}

.controls-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls-toggle mwc-icon {
  --mdc-icon-size: 16px;
}

.controls-panel {
  width: 295px;
}

.method-results {
  padding: 4px;
}

.salience-placeholder {
  color: var(--lit-neutral-800);
}

.loading {
  opacity: 0.2;
  pointer-events: none;
}

.spinner-container {
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
