.label {
  margin-bottom: 4px;
}

.primary-selected-point {
  r: 4px;
  opacity: 1.0;
  stroke-width: 1px;
  stroke: #000;
}

.hovered-point {
  r: 4px;
  opacity: 1.0;
  stroke-width: 2px;
  stroke: red;
}

.selected-point {
  r: 5px;
  fill-opacity: 0.8;
  stroke-width: 2px;
  stroke: #fff;
}

.point {
  r: 4px;
  opacity: .25;
}

#container{
  margin: 5px 0;
}

.collapse-bar {
  width: 100%;
  height: 30px;
  cursor: pointer;
  padding: 3px 5px;
  width: 100%;
  border: 1px solid rgb(232, 234, 237);
  outline: none;
  font-size: 13.33333px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.scatterplot-background {
  background: rgb(248, 249, 250);
  border: 1px solid rgb(232, 234, 237);
  padding-bottom: 15px;
  padding-top: 5px;
}

.axis-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.selected-value {
  padding-right: 8px;
}
