/**
 * Shared styles for all modules.
 */
button {
  width: fit-content;
  max-height: 100%;
  background: lightgrey;
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid darkgrey;
  margin: 5px;
  text-align: center;
  padding: 5px 10px;
  font-size: 10pt;
  border-radius: 3px;
}

button:hover {
  background: #faf49f;
}

button:disabled {
  background: darkgrey;
  color: lightgrey;
  pointer-events: none;
  cursor: auto;
}

.dropdown-label {
  font-weight: regular;
  font-size: 9pt;
  letter-spacing: +0.3pt;
  line-height: 12pt;
  margin-left: 4pt;
  margin-right: 4pt;
  color: #3c4043;
}

.dropdown {
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: 4pt;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 8pt;
  margin-right: 8pt;
  max-width: 80%;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-size: .65em auto, 100%;
  background-position: right 50%;
  background-repeat: no-repeat;
}

.monospace {
  font-family: 'Share Tech Mono', monospace;
}

mwc-textfield {
  --mdc-theme-primary: #2f8c9b;
}

.lit-img{
  height: 15pt;
  width: 15pt;
  padding: 2pt;
}
