/**
 * Shared styles for all modules.
 */
button {
  width: fit-content;
  max-height: 100%;
  background: white;
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid darkgrey;
  margin: 5px;
  text-align: center;
  padding: 5px 10px;
  font-size: 10pt;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  display: flex;
}

button.accent {
  background: rgb(47, 140, 155);
  border: none;
  color: white;
}

button.accent:hover {
  background: rgb(33, 98, 108);
}


button:hover {
  background: #faf49f;
}

button:disabled {
  background: darkgrey;
  color: lightgrey;
  pointer-events: none;
  cursor: auto;
}

.dropdown-label {
  font-weight: regular;
  font-size: 9pt;
  letter-spacing: +0.3pt;
  line-height: 12pt;
  margin-left: 4pt;
  margin-right: 4pt;
  color: #3c4043;
}

.dropdown {
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: 4pt;
  appearance: none;
  -webkit-appearance: none;
  padding-right: 8pt;
  margin-right: 8pt;
  max-width: 80%;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-size: .65em auto, 100%;
  background-position: right 50%;
  background-repeat: no-repeat;
}

.monospace {
  font-family: 'Share Tech Mono', monospace;
}

mwc-textfield {
  --mdc-theme-primary: #2f8c9b;
}

.lit-img{
  height: 15pt;
  width: 15pt;
  padding: 2pt;
}

/* 'Text' Button Style */
.text-button {
  margin: 0 4px;
  background: transparent;
  border-radius: 4px;
  border: none;
  color: #1A73E8;
  font-family: Roboto;
}

.text-button:hover {
  background: rgba(26, 115, 232, 0.04);
}

.text-button:focus {
  background: rgba(138, 180, 248, 0.12);
  border: none;
  outline: none;
}

.text-button:active {
  background: #E8F0FE;
  box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
  border: none;
}

.text-button:disabled {
  color: rgba(60, 64, 67, 0.38);
  background: transparent;
}

/* Token chips */
.token-chip-function {
  color: #5f6368;
  font-family: 'Roboto';
  background: #f8f9fa;
  border-radius: 2px;
  border: 1px solid transparent; /* for spacing */
  padding: 2px;
  width: fit-content;
}

.token-chip-function.selected {
  border: 1px solid #80868b;
}

.token-chip-function:hover {
  background: #e8eaed;
}

.token-chip-label {
  color: #3c4043;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid transparent; /* for spacing */
  border-radius: 2px;
  padding: 2px;
  width: fit-content;
}

.token-chip-label.selected {
  color: #098591;
  border-color: #098591;
}

.token-chip-label:hover {
  background: #e4f7fb;
}

.token-chip-generated {
  color: #8430ce;
  font-family: 'Roboto';
  background: #f3e8fd;
  border: 1px solid transparent; /* for spacing */
  border-radius: 2px;
  padding: 2px;
  width: fit-content;
}

.token-chip-generated.selected {
  border-color: #a142f4;
}

.token-chip-generated:hover {
  background: #e9d2fd;
}

/* 'Hairline' Button Style */
.hairline-button {
  margin: 0 4px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #BDC1C6;
  color: #1A73E8;
  font-family: Roboto;
}

.hairline-button:hover {
  background: linear-gradient(0deg, rgba(26, 115, 232, 0.04),
    rgba(26, 115, 232, 0.04)), #FFFFFF;
  border: 1px solid #DADCE0;
}

.hairline-button:focus {
  background: transparent;
  border: 1px solid #1967D2;
  outline: none;
}

.hairline-button:disabled {
  color: rgba(60, 64, 67, 0.38);
  background: transparent;
  border: 1px solid #E7E8E8;
}

.hairline-button:active {
  background: rgba(26, 115, 232, 0.1);
  border: 1px solid #DADCE0;
}

/**
 * Main container to use inside modules.
 * If this contains a .module-toolbar and a .module-results-area,
 * the results area will scroll while the toolbar remains at the top.
 */
.module-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Toolbar container for module controls. */
.module-toolbar {
  height: 24px;
}

.module-results-area {
  flex: 1;
  overflow-y: auto;
}


/**
 * Spacer div: insert this before content if you want a module without a
 * subtitle to align horizontally to one that does have one.
 * Used in span graph and annotated text modules, where the gold preds don't
 * have a subtitle for the model name.
 */
.offset-for-module-header {
  margin-top: 17pt;
  height: 0;
}
