:host {
  --slice-selector-right-col-width: 140px;
}

.module-container {
  padding: 6px;
  max-height: 100%;
  overflow-y: hidden;
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

#select-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: hidden;
}

#slice-selector {
  border: 1px solid rgb(218, 220, 224);
  flex: 1;
  max-height: calc(100% - 18px);
  overflow-x: hidden;
  overflow-y: auto;
}

.selector-item {
  padding: 8px;
}

.selector-item:hover {
  background: #f8f9fa;
}

.selector-item > * {
  vertical-align: middle;
}

.selected {
  background: rgb(197, 228, 232);
}

.selected:hover {
  background: rgb(197, 228, 232);
}

.toolbar > * {
  margin: 4pt;
}

.checkbox-holder{
  display: flex;
  justify-content: space-between;
}

.checkbox-title{
  font-size: 12px;
}

#input-box {
  flex: 1;
}

.checkbox-holder {
  margin: 0 7px;
}

.slice-name {
  max-width: calc(100% - var(--slice-selector-right-col-width));
  display: inline-block;
  overflow: auto;
}

.number-label {
  float: right;
  color: #5f6368;
  max-width: var(--slice-selector-right-col-width);
}

.selector-item .icon-button {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 5px;
}

.selector-item .icon-button.disabled {
  pointer-events: none;
  cursor: auto;
  opacity: .2;
}

.hidden {
  visibility: hidden;
}
