/**
 * Padding and margins attempt to match the offsets of the left-
 * and right-most visual elements in the main app toolbar.
 */
.toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 4pt;
  align-items: center;
}

#slice-selector {
  min-width: 120px;
  max-width: 120px;
}

#slice-toolbar {
  /* align these to the right */
  justify-content: flex-end;
  padding-right: 4pt;
  align-items: center;
}

.toolbar > * {
  margin: 4pt;
}

.checkbox-holder{
  display: flex;
  justify-content: space-between;
}

.checkbox-title{
  font-size: 12px;
}
