.module-toolbar {
  border-bottom: 1px solid #dadce0;
  box-sizing: border-box;
  justify-content: space-between;
}

.tda-module-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.controls-sidebar {
  border-right: 1px solid var(--lit-neutral-300);
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: auto;
  width: 400px;
}

.label-controls {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-sizing: border-box;
}

.label-control-holder {
  margin: 8px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

/* right-align content, particularly dropdowns */
.label-control {
  display: flex;
  justify-content: flex-end;
  width: 65%;
}

.label-control .dropdown {
  max-width: unset; /* unset default from shared_styles */
  width: 100%;
}

.results-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  margin-left: 4px;
}

/**
 * TODO(lit-dev): move interstitial styles to shared_styles
 */
.interstitial {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  overflow: hidden;
  font-family: 'Google Sans', sans;
}

.interstitial > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 300px;
}

.interstitial > img {
  flex-shrink: 1;
  max-height: 130px;
}

.interstitial p {
  color: #5f6368;
}

.interstitial strong {
  display: block;
  font-size: 1.5em;
  margin-bottom: 4px;
}

.controls-sidebar .label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.controls-sidebar.visible {
  display: block;
}

.footer-end-controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
