.collapsible {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border-top: 1px solid #E8EAED;
  border-left: 1px solid #E8EAED;
  border-right: 1px solid #E8EAED;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content {
  padding: 0 8px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #F8F9FA;
  border: 1px solid #E8EAED;
  box-sizing: border-box;
}

.content.minimized {
  max-height: 0;
  border-bottom: none;
}

.control-name {
  color: #80868B;
  width: 50%;
}

.control-holder {
  padding-top: 8px;
  display: flex;
}

.control {
  width: 50%;
}

.buttons-holder {
  padding: 8px 0;
  display: flex;
  flex-direction: row-reverse;
}

.checkbox-holder {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-control {
  margin-right: 12px;
  min-width: 48px;
}

