.output {
  margin-bottom: 8px;
}

.output-row {
  text-align: left;
  vertical-align: initial;
}

.output-row > * {
  padding: 4px;
}

.candidate {
  display: flex;
  flex-direction: row;
}

.candidate-score {
  margin-right: 12px;
}

/* use this style instead of .token-chip-label.selected */
.candidate-selected {
  border: 1px solid #80868b;
}

.highlighted-diff {
  color: #a93d00;
  font-weight: bold;
}

.highlighted-match {
  color: #129eaf;
  font-weight: bold;
}
