/** Slider styles for Chrome */
input[type='range'].slider {
  -webkit-appearance: none;
  max-width: calc(100% - 4px);
  min-width: 50px;
  background: var(--lit-neutral-400);
  border-radius: 4px;
  background-image: linear-gradient(var(--lit-cyea-400), var(--lit-cyea-400));
  background-repeat: no-repeat;
}

input[type='range'].slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
  color: var(--lit-cyea-400);
}

input[type='range'].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  border-radius: 50%;
  cursor: grab;
  background: var(--lit-cyea-600);
  box-shadow: 0 0 2px 0 var(--lit-neutral-900);
}

/** Slider styles for FF*/
input[type="range"].slider::-moz-range-progress {
  background-color: var(--lit-cyea-400);
}

input[type="range"].slider::-moz-range-thumb {
  background-color: var(--lit-cyea-600);
}

input[type="range"].slider::-moz-range-track {
  background-color: var(--lit-neutral-400);
}

/** Slider styles for IE */
input[type="range"].slider::-ms-fill-lower {
  background-color: var(--lit-cyea-400);
}

input[type="range"].slider::-ms-fill-upper {
  background-color: var(--lit-neutral-400);
}

input[type="range"].slider::-ms-thumb {
  background-color: var(--lit-cyea-600);
}
