<div class="mdl-cell info-box mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <details>
    <summary class="info-box-title">{{ title }}</summary>
    <span class="info-box-text">{{ text | markdownify }}</span>
  </details>
</div>
