
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <img class='status-emoji' src="{% root %}/assets/images/favicon.png"></img>
          <span class="mdl-layout__title">
            <a href="{% root %}/">
              Learning Interpretability Tool
            </a>
          </span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% root %}/setup/">SETUP GUIDE</a>
            <a class="mdl-navigation__link" href="{% root %}/tutorials/">TUTORIALS</a>
            <a class="mdl-navigation__link" href="{% root %}/demos/">DEMOS</a>
            <a class="mdl-navigation__link" href="{% root %}/faqs/">FAQs</a>
            <a class="mdl-navigation__link" href="https://groups.google.com/g/lit-annoucements" target="-_blank">STAY UP TO DATE<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
            <a class="mdl-navigation__link" href="https://github.com/pair-code/lit" target="-_blank">GITHUB<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title"><a href="{% root %}/">Learning Interpretability Tool</a></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{% root %}/setup/">SETUP GUIDE</a>
          <a class="mdl-navigation__link" href="{% root %}/tutorials/">TUTORIALS</a>
          <a class="mdl-navigation__link" href="{% root %}/demos/">DEMOS</a>
          <a class="mdl-navigation__link" href="{% root %}/faqs/">FAQs</a>
          <a class="mdl-navigation__link" href="https://groups.google.com/g/lit-annoucements" target="_blank">STAY UP TO DATE<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
          <a class="mdl-navigation__link" href="https://github.com/pair-code/lit" target="-_blank">GITHUB<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
        </nav>
      </div>
