<a class="home-cta-button" href="{% root %}{{ link }}" {% if external %} target="_blank"{% endif %}>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  {{ text }}
  </button>
</a>