<div class="mdl-cell info-box mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="info-box-title">{{ title }}</div>
  <div class="info-box-text">{{ text | markdownify }}</div>
</div>