<div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <img class="tutorial-image" src="{% root %}{{ image }}"
    onclick="event.target.nextElementSibling.showPopover()" />
  <div class="tutorial-image-popover" popover>
    <img class="tutorial-image" src="{% root %}{{ image }}"
      onclick="event.target.parentElement.hidePopover()" />
  </div>
  <div class="tutorial-caption">{{ caption }}</div>
</div>