<div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
  <img class="tutorial-image" src="{% root %}{{ image }}"
    onclick="event.target.nextElementSibling.showPopover()" />
  <div class="tutorial-image-popover" popover>
    <img class="tutorial-image" src="{% root %}{{ image }}"
      onclick="event.target.parentElement.hidePopover()" />
  </div>
  <div class="tutorial-caption">{{ caption }}</div>
</div>