<div class="resource-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
  <div class="resource-card-title">{{ c-title }}</div>
  <div class="resource-card-copy">{{ c-copy }}</div>
  <div class="resource-card-cta-button"><a href="{{ link }}" {% if external %}target="_blank" {% endif %}>{{ cta-copy }} {% if external %}<img class="external-arrow" src="{% root %}/assets/images/arrow-link-out.png"/>{% else %}<span class="home-card-icon material-icons">arrow_right_alt</span>{% endif %}</a></div>
</div>